<h1>Фазенда Новгородская</h1>
<div class="row">
  <div class="col-lg-8">
  	<h2>Расположение</h2>
  	<p>
  		База отдыха "Фазенда Новгородская" расположена в п. Посьет Хасанского района.
  	</p>
  	<h2>Проживание</h2>
  	<p>
			Для проживания предоставляются два дома на 6 человек и 4-х местный дом.

			6-ти местный дом: в доме две спальные комнаты и гостиная, соединенная с кухонной зоной. В одной спальне расположены две односпальные кровати стол, стулья.  В другой спальне есть музыкальный центр, журнальный столик, полка с книгами, кресло. В гостиной стоит двуспальный диван, стол, стулья.  Кухонная зона оборудована чайником, холодильником, газовой плитой, электроплитой, посудой. В доме имеется санузел (душ, туалет, раковина, горячая, холодная вода).

			2-ой этаж домика. Комната рассчитана на проживание 4 человек. Этаж представляет собой одну комнату, разделенную на секции - в одной из них  находятся 4 одноместных кровати, в другой - кухонная зона с однокомфорочной плитой, чайником, кухонной утварью и посудой, раковиной с холодной и горячей водой, зона для приема пищи, там же находится туалет и раковина с холодной и горячей водой.
  	</p>
  </div>
  <div class="col-lg-4">
  	<h2>Карта</h2>
  	<div id="map">
  		<div style="position:absolute;width: 380px;height:300px;text-align: center;padding-top: 140px;border: 1px solid black;">Загрузка карты</div>
  	</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0bacc1b4f17c21a9bd6ed2166d679842f6468a335d72f52ee1cdca5c7f1fc031&amp;width=380&amp;height=300	&amp;lang=ru_RU&amp;scroll=true&amp;id=map"></script>  

